@font-face {
    font-family: "Star Wars";
    src: url("font/Starjhol.ttf");
}

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}

section {
    font-family: "Star Wars";
    color: yellow;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.grid-container {
    display: grid;
    column-gap: 200px;
}

.hidden {
    grid-column: 2;
    grid-column-end: 3;
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}